.advantages-bg {
  background-color: var(--clr-black);
}

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages h2 {
  padding-bottom: 20px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  gap: 0 40px;
}

.advantages-list li {
  margin-top: 40px;
}

.advantages-list img {
  width: 32px;
}

@media (max-width: 800px) {

  .advantages {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}