.location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-bottom: 120px;
}

.location-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 32px 40px;;
}

.location h2,
.location-content h3,
.location-hour {
  grid-column: 1/-1;
}

.location-data {
  position: relative;
  padding-left: 12px;
}

.location-data::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--clr-2);
}

.location-items {
  background-color: var(--clr-w);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.location-items a {
  color: var(--clr-8);
  display: block;
}

.location-hour {
  display: flex;
  gap: 4px;
}

.location-img img {
  border-radius: 5px 5px 0 0;
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

@media (max-width:1000px) {
  .location-img img {
    height: 150px;
  }
}

@media (max-width:700px) {
  .location {
    grid-template-columns: 1fr;
  }

  .location-img img {
    height: 280px;
  }
}

@media (max-width:500px) {
.location-content {
  grid-template-columns: 1fr;
}
.location-img img {
  height: 220px;
}
}
