* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  color: var(--clr-11);
}

button {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

img[src$="jpg"] {
  border-radius: 5px;
}

::-webkit-scrollbar {
  background-color: #d9d9d9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 12px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(142, 142, 142, 1) 0%, rgba(117, 117, 117, 1) 100%);
  border-radius: 10px;
  margin: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.primary-btn {
  background: linear-gradient(0deg, rgb(242, 169, 12) 0%, rgba(255, 191, 0, 1) 100%);
  padding: 20px 24px;
  display: inline-block;
  border-radius: 5px;
  font: bold 1.125rem/1.3 'Poppins', sans-serif;
  color: var(--clr-p5);
}

.primary-btn:hover {
  cursor: pointer;
  color: var(--clr-12);
  background: linear-gradient(0deg, rgb(242, 150, 12) 0%, rgb(255, 166, 0) 100%);
}


@media (max-width:1000px) {
  .primary-btn {
    padding: 20px;
  }
}

@media (max-width:700px) {
  .primary-btn {
    padding: 16px;
  }
}