.title-bg {
  background: var(--clr-11) url(../../img/decoração/bottom-left.svg) no-repeat top 40px right 40px;

  padding-top: 60px;
  padding-bottom: 60px;
}

.title p {
  margin-bottom: 4px;

  letter-spacing: 1.2px;
  font-weight: 500;
}

@media (max-width:800px) {
  .title-bg {
    background: var(--clr-11);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .title p {
    font-size: 1rem !important;
  }

  #bicycle .title p {
    font-size: 1.3rem !important;
  }
}

@media (max-width:600px) {
  .title h1 {
    font-size: 2.5rem !important;
  }

  .title p {
    font-size: 0.85rem !important;
  }
}