.tecnology-bg {
  background-color: var(--clr-11);
  box-shadow: inset 0 -100px 0 var(--clr-w), inset 0 100px 0 var(--clr-w);
  ;
}

.tecnology {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnology img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnology-content {
  padding: 180px 0;
}

.tecnology-content p {
  margin-top: 14px;
}

.tecnology-content h2 {
  margin-top: 24px;
}

.about-tecnology {
  margin-top: 80px;
}

.tecnology-content a {
  margin-top: 20px;
  display: block;

  position: relative;
  max-width: fit-content;
}

.tecnology-content a::after {
  content: '';
  display: block;

  height: 3px;
  width: 100%;

  background-color: var(--clr-p1);
}

.tecnology-content a:hover {
  color: var(--clr-p3);
}

.tecnology-content a:hover::after {
  background-color: var(--clr-p3);
}

.about-tecnology {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.about-tecnology .eletric::before {
  content: '';
  display: block;

  width: 24px;
  height: 24px;

  background: url(../../img/icones/eletrica.svg);
}

.about-tecnology .gps::before {
  content: '';
  display: block;

  width: 24px;
  height: 24px;

  background: url(../../img/icones/rastreador.svg);
}

@media (max-width:700px) {
  .tecnology {
    grid-template-columns: 1fr;
  }
  .tecnology-bg {
    box-shadow: initial;
  }

  .tecnology img {
    display: none;
  }

  .tecnology-content {
    padding: 80px 0 40px;
  }

}

@media (max-width:600px) {
  .about-tecnology {
    grid-template-columns: 1fr;
  }
}