/*Fonts chosen and organized in my figma*/
/* Font 1 : Poppins */
.font-1-xxx_large {
  font: 600 4rem/1.125 'Poppins', sans-serif;
}

.font-1-xx_large {
  font: 600 3rem/1.125 'Poppins', sans-serif;
}

.font-1-x_large {
  font: 600 2rem/1.25 'Poppins', sans-serif;
}

.font-1-x_large-bold {
  font: bold 2rem/1.25 'Poppins', sans-serif;
}

.font-1-large {
  font: 400 1.5rem/1.5 'Poppins', sans-serif;
}

.font-1-medium {
  font: 400 1.125rem/1.3 'Poppins', sans-serif;
}

.font-1-medium-bold {
  font: bold 1.125rem/1.3 'Poppins', sans-serif;
}

.font-1-small {
  font: 400 1rem/1.5 'Poppins', sans-serif;
}

.font-1-x_small {
  font: 600 0.75rem/1.3 'Poppins', sans-serif;
}


/* Font 2 : Roboto */
.font-2-large {
  font: 400 1.5rem/1.5 'Roboto', sans-serif;
}

.font-2-large-bold {
  font: bold 1.5rem/1.5 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5%;
}

.font-2-medium {
  font: 400 1.125rem/1.3 'Roboto', sans-serif;
}

.font-2-small {
  font: 400 1rem/1.5 'Roboto', sans-serif;
}

.font-2-x_small {
  font: 400 0.875rem/1.4 'Roboto', sans-serif;
}


/* Font 3 : Caladea unique */
.font-3 {
  font: 2rem/1.25 'Caladea', sans-serif;
}


@media (max-width: 1200px) {
  .font-1-xx_large {
    font-size: 3.4rem !important;
  }
}

@media (max-width: 1000px) {
  .font-1-xxx_large {
    font-size: 3rem !important;
  }

  .font-1-xx_large {
    font-size: 2.5rem !important;
  }

  .font-1-x_large, .font-1-x_large-bold  {
    font-size: 1.5rem;
  }

  .font-2-large,
  .font-1-large,
  .font-2-large-bold,
  .font-1-large-bold {
    font-size: 1.2rem !important;
  }
}

@media (max-width:900px) {

  .font-1-medium,
  .font-1-medium-bold,
  .font-2-medium {
    font-size: 1rem !important;
  }

  .font-1-small,
  .font-2-small {
    font-size: 0.875rem !important;
  }

  .font-3 {
    font-size: 1.5rem;
  }
}